.couleur {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5e5e+0,ef9c3e+100 */
  background: #ff5e5e;
  background: -moz-linear-gradient(
    left,
    #ff5e5e 0%,
    #ef9c3e 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ff5e5e 0%,
    #ef9c3e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff5e5e 0%, #ef9c3e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e5e', endColorstr='#ef9c3e',GradientType=1 ); /* IE6-9 */
}

.liste-entete li {
  background: transparent;
  border: none;
}
.surligner {
  background-color: yellow;
}

.telephone {
  margin: 20px;
}
.noborder {
  padding: none;
}
.logo {
  margin-right: 0;
  padding-right: 0 !important;
  width: auto !important;
  display: contents;
}

.reduire {
  max-resolution: 150px;
  width: 100%;
  height: 500px;
}
.navigation a:hover {
  background-color: #62bfe6;
}
.image {
  float: left;
  height: 100px;
}
.nopadding {
  padding: 0%;
}
.carre1 {
  background-color: #57aacd;
}
.carre2 {
  background-color: #55b0d6;
}
.carre3 {
  background-color: #5bb7de;
}
.carre4 {
  background-color: #62bfe6;
}
.couleurblue {
  color: #62bfe6;
}
.fondblue {
  background-color: #62bfe6;
  color: white;
}
.ecriture {
  color: white;
}
.ecrituregris {
  color: #7a7b7b;
}
.imagedialogue {
  float: left;
}
.fondgris {
  background-color: #f5f5f5;
}
.image1 {
  float: left;
  max-height: 150px;
  max-width: 150px;
}
.fondjaune {
  background-color: #ffef0a;
}
@media (max-width:767px){
  .helpcenter{padding-top: 50px;}
  .proute{font-size: smaller;}
}
